<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedFocus <%= title ? ' | ' + title : '' %></title>
    <link rel="stylesheet" href="/blog/output.css">
    
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/blog/assets/favicon/apple-touch-icon.webp">
    <link rel="icon" type="image/png" sizes="32x32" href="/blog/assets/favicon/favicon-32x32.webp">
    <link rel="icon" type="image/png" sizes="16x16" href="/blog/assets/favicon/favicon-16x16.webp">
    <link rel="manifest" href="/blog/site.webmanifest">
</head>
